        </main>
        <footer>
            <div class="icons">
                <a href=""><img src="/images/linkedin.png"></a>
                <a href=""><img src="/images/tg.png"></a>
                <a href=""><img src="/images/github.png"></a>
            </div>
            <div class="copyright">
                <p class="text_copy">&copy; Copyright, <span id="date"></span></p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="/js/functions.js"></script>
    <script type="text/javascript" src="/js/date.js"></script>
</html>