<!DOCTYPE html>
<html lang="en">
    <body>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/styles/style.css">
            <link rel="stylesheet" href="/styles/animation.css">
            <title>Dubetskyi Serhii</title>
        </head>
        <header>
            <div class="upperSide">
                <a href="/">
                    <div class="logo">
                        <img src="/images/logo.png">
                    </div> 
                </a>
                <div class="pages-icon">
                    <b>☰</b>
                </div>
                <div class="overlay" id="overlay">
                    <div class="pages">
                        <a href="/about">About</a>
                        <a href="/projects">Projects</a>
                        <a href="/email">Contact</a>
                    </div>
                </div>
            </div>
            <!-- Dropdown menu -->
            <div class="dropdown">
                <li><a href="">About</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Contact</a></li>
            </div>
        </header>
        <main>
