        <img class="node" src="/images/node_img.png" />
        <img class="react" src="/images/react_img.png" />
        <img class="cssy" src="/images/css_img.png" />
        <img class="js" src="/images/js_img.png" />
        <img class="htmly" src="/images/html_img.png" />
        <div class="containerito">
            <div class="grid_item"></div>
            <div class="grid_item"></div>
            <div class="grid_item"></div>
            <div class="lead_info grid_item item_text">
                
                <p class="text_lead item"> <span class="lead">Welcome, I’m Serhii.</span><br>
                    I’m a Full Stack developer and<br> 
                    would be glab to show you some<br>
                    of my best projects)
                </p>
                <a class="projbtn" href=""> <span class="arrow">=></span> Projects <span class="arrow"><=</span> </a>
            </div>
            <div class="grid_item"></div>
            <div class="grid_item item_img">
                <img class="lead_img" src="/images/portrait.png" />
            </div>
        </div>