<%- include("partials/header.ejs") %>

        <div class="contact">
          <h2 style="text-align: center; font-size: 24px; margin-bottom: 30px;"> Contact by email </h2>
          <form id="contact-form" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Send</button>
          </form>
              
        </div>

<%- include("partials/footer.ejs") %>