<%- include("partials/header.ejs") %>
        <div class="containerito">
            <div class="grid_item"></div>
            <div class="grid_item"></div>
            <div class="grid_item"></div>
            <div class="lead_info grid_item item_text">
                
                <p class="text_lead item"> <span class="lead">Welcome, I’m Serhii.</span><br>
                    I’m a Full Stack developer and<br> 
                    would be glab to show you some<br>
                    of my best projects)
                </p>
                <a class="projbtn" href=""> <span class="arrow">=></span> Projects <span class="arrow"><=</span> </a>
            </div>
            <div class="grid_item"></div>
            <div class="grid_item item_img">
                <img class="lead_img" src="/images/portrait.png" />
            </div>
        </div>
<%- include("partials/footer.ejs") %>