@keyframes dropIn {
    20%{
        opacity: 0;
        transform: translateY(-20%);
    }
    30%, 100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rightToLeft {
    20%{
        opacity: 0;
        transform: translateX(20%);
    }
    30%, 100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.node{
    opacity: 0;
    animation: dropIn 5s forwards;
}

.react{
    opacity: 0;
    animation: rightToLeft 5s forwards;
}