:root {
  --textColor: #cffffe;
  --borderR: 10px;
  --smallHeadSize: 18px;
  --smallTextSize: 0.85rem;

}

.someSPECIAL,
.item-tech {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-tech {
  justify-content: space-around;
}

.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  margin-top: 2.5rem;
  position: relative;
}

.project {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: relative;
  padding: 10px;

  width: 400px;

  background: rgba(84, 172, 176, 0.6);
  box-shadow: 2px 2px 17.8px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  backdrop-filter: blur(1.15px);
  box-shadow: 6px 6px 10px 2px rgba(35, 35, 35, 0.75);
}

.project img {
  width: auto;
  height: 200px;
}

.project .project-info,
.project-buttony {
  padding: 0.25rem 0.5rem;
}

.special_lead {
  font-size: clamp(0.9rem, 0.5vw + 0.5rem, 2rem);
  opacity: 0.75;
  width: 65vw;
  text-align: center;
}

.h3-head,
.special_lead {
  font-family: "Agbalumo";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(var(--fontMin), 1vw + 1rem, var(--fontMax));
  color: #023535;
}

.special_lead {
  color: var(--textColor);
}

.description,
.tech,
.live-demo {
  font-family: "Almarai", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--textColor);
}

.item-tech > * {
  background-color: #055a5a;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 1300px) {
  .h2-head {
    font-size: clamp(0.85rem, 2.5rem, 3rem);
  }
}

@media (max-width: 900px) {
  .special_lead {
    font-size: 0.95rem;
  }
}

.project-buttony,
.live-demo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.live-demo {
  margin-top: 5px;

  text-decoration: none;
  background: linear-gradient(135deg, #0ea5e9, #3b82f6);
  border-radius: 5px;
  padding: 7px;
  transition: filter 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease;
  box-shadow: 20px 0 32px 8px rgba(59 130 246 / 0.2);
}

.live-demo:hover {
  filter: brightness(0.95);
  box-shadow: inset 0 1px 1px rgba(255 255 255 / 0.3),
    inset 0 -1.5px 2px rgba(0 0 88 / 0.3), 0 0 66px 2px rgba(59 130 246 / 0.2),
    0 0 44px 4px rgba(59 130 246 / 0.2);
}

.live-demo img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}


@media (max-width: 420px) {
  .project{
    width: 300px;
  }

  .project > img{
    height: 150px;
    width: auto;
  }

  .h3-head{
    font-size: clamp(14px, 1vw + 2rem, calc(var(--smallHeadSize) + 0.2rem));
  }

  .description{
    font-size: 0.75rem;
  }

  .tech{
    font-size: calc(var(--smallTextSize) - 0.2rem);
  }

  .live-demo{
    font-size: var(--smallTextSize);
  }

  .live-demo img{
    height: 25px;
    width: 25px;
  }
}

.slider {
  width: 400px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.slides {
  display: flex;
  width: 200%; /* two images side by side */
}
.double-slider{
  animation: swipe 9s cubic-bezier(.09,.58,.37,1) infinite;
  animation-composition: add;
}

.slides img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

@keyframes swipe {
  0%, 25% { transform: translateX(0); }
  50%, 75% { transform: translateX(-50%); }
  100% { transform: translateX(-100%); }
}

@media (max-width: 430px) {
  .special_lead{
    font-size: 0.75rem;
    width: 65vw;
  }

  .slides img {
    width: 280px;
    height: 150px;
    object-fit: contain;
  }

  .slider {
    width: 280px;
    height: 150px;
    overflow-x: hidden;
    position: relative;
    border-radius: 10px;
  }

}

.message-sent{
  background: #71ff2a;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 600px;
  max-height: 110px;
  height: 12vh;
  width: 70vw;

  box-shadow: 2px 2px 15px 8px rgb(100, 255, 61);

}

.message-sent::before{
  background-color: rgba(70, 253, 165, 0.2); /* Optional translucent overlay */
}

.message-sent p{
  padding-top: 1rem;
  font-size: clamp(0.7rem, 1vw + 0.8rem, 2rem);

    
  font-family: "Agbalumo";
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 900px) {
  .message-sent{
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
}

.message-sent.hidden{
  display: none;
}