:root{
    --minHeaderPad: 1.45em;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(359.57deg, #015958 -35.5%, #0FC2C0 126.97%);
    width: 100%;
    height: 100vh;
}

header{
    padding: clamp(0.5em, 10%, 1.5em);
}

.logo img{
    width: clamp(100px, 15vw, 600px);
}

/* .upperSide{
    display: inline-flex;
    align-items: center;

} */

.logo{
    height: clamp(20px, 30px, 50px);
    width: clamp(100px, 17vw, 16em);
    background: rgba(2, 53, 53, 0.69);
    border-radius: 40px;
    padding: clamp(var(--minHeaderPad), 2vw, 3em);

    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
}


.pages{
    height: clamp(20px, 30px, 50px);
    float: right;
    background: rgba(2, 53, 53, 0.69);
    border-radius: 40px;
    padding: clamp(var(--minHeaderPad), 2vw, 3em);    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(30px, 40px, 60px);
}

.pages a{
    text-decoration: none;
    color: #CFFFFE;
    font-family: 'Agbalumo';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 2vw + 1rem, 24px);
}

.pages-icon {
    display: none; /* Hide the icon by default */
    font-size: clamp(20px, 3vw, 36px);
    cursor: pointer;
    float: right;
    padding: clamp(1.25em, 15px, 3em);
}


@media (max-width: 600px) {
    
    .pages {
        display: none; /* Hide the original pages block */
    }

    .pages-icon {
        display: block; /* Show the icon */
    }

    .pages-menu {
        display: none; /* Hide the menu by default */
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(2, 53, 53, 0.69);
        border-radius: 10px;
        padding: 1em;
        flex-direction: column;
        gap: 1em;
        width: max-content;
    }

    .pages-menu.show {
        display: flex; /* Show the menu when 'show' class is added */
    }
}
